.card-component {
    background-image: linear-gradient(to right top, #000000, #0d0a0b, #151214, #1b181b, #201e23, #25232a, #2a2831, #2e2e38, #343440, #393a48, #3f4150, #454759);
    height: auto;
    width: auto;

}

.card-title {
    font-family: 'Courier New', Courier, monospace;
    color : #6600ff;
}

.card-text {
    font-size: 20px;;
}

.card-btn{

    margin-top: 25px;

}

.card-image {
    height:250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-btn a{
display: block;
width: 250px;
height: 50px;
line-height: 40px;
font-size: 18px;
font-family: sans-serif;
text-decoration: none;
color: rgb(255, 255, 255);
border: 2px solid rgb(255, 255, 255);
letter-spacing: 2px;
text-align: center;

transition: all .35s;
}

.card-btn a span{
position: relative;
z-index: 2;
}

.card-btn a:after{
position: absolute;
content: "";
top: 0;
left: 0;
width: 0;
height: 100%;
background: #6600ff;
transition: all .35s;
}

.card-btn a:hover{
color: #fff;
}

.card-btn a:hover:after{
width: 100%;
}