.card-component {
    background-image: linear-gradient(to right top, #000000, #0d0a0b, #151214, #1b181b, #201e23, #25232a, #2a2831, #2e2e38, #343440, #393a48, #3f4150, #454759);
    height: auto;
    width: auto;

}

.card-title {
    font-family: 'Courier New', Courier, monospace;
    color : #6600ff;
}

.card-text {
    font-size: 20px;;
}



.card-image {
    height:250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-btn {
    color: white;
    width: 185px;
    height: 46px;
    background: #9900ff;

    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.card-btn:hover {
    transition: All 0.2S ease-in-out;
    color: #9900ff;
    background-color:white;   
}