.navbar {
    /* background-color: transparent; */
    background-color:black;
    height: 10vh;
    width: 100%;
    position: fixed;

    z-index: 999;

}

.navbar-contanier {
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logo:hover {
    color:purple;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



/* sign up button css */
.glow-on-hover {
    width: 136px;
    height: 50px;
    border: 1px solid white;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.user-info .user-text {
    margin-top: 24px;
    color: #fff !important;
    font-size: 24px;
    text-align: center;
    max-width: 600px;
    text-align: justify;
    margin-right: 20px;
    font-size: 19px;
}

.user-info .user-text span {
    border-bottom: 3px solid white;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* link csss */

.nav-links {
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


#nav-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#nav-link:hover {
    color: purple;
}

.nav-links .active {
    padding-bottom: 12px;
    border-bottom: 3px solid purple;
}








