* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Oswald', sans-serif;
}

html {
scroll-behavior: smooth;
scroll-padding-top: 75px;
}

body {
font-weight: 400;
overflow-x: hidden;
position: relative;
background-color: #121212 !important;
font-family: 'Centra', sans-serif !important;
}

h1 {
    color: #c62368;
    font-size: 48px;
    text-align: center;
}

h2 {
    color: #8e007b;
    font-size: 30px;
    text-align: center;
}

p {
    margin-top: 24px;
    color: #fff !important;
    font-size: 24px;
    text-align:center;
    max-width: 600px;
    text-align: justify;
}


button {
background-color: transparent;
}

input:focus, textarea:focus, select:focus {
outline: none;
}






